.CardQuestion{
  width: 100%;
  max-width: 500px;
  min-height: 430px;
  display: grid;
  place-items: center;
  gap: 10px;
  background-color: var(--background);
  border-radius: 5px;
  padding: 15px 0;
  margin: 0 auto;
}
.CardQuestion-question{
  width: 90%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}
.CardQuestion p{
  width: 80%;
  height: 100%;
  display: grid;
  place-items: center;
  color: var(--main-text);
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid var(--main-text);
  cursor: pointer;
  margin: 0 auto;
}
.CardQuestion p:hover, .CardQuestion .active{
  color: var(--background);
  background-color: var(--main-text);
}
.CardQuestion-btn__next{
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--background);
  background-color: var(--main-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.CardQuestion-btn__next:hover{
  background-color: #ad8162;
}
.CardQuestion-btn__send{
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--background);
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}