.Chronometer{
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}
.Chronometer-category{
  width: 100%;
  margin-bottom: 10px;
}
.Chronometer-category p{
  width: 100%;
  font-weight: 800;
  color: var(--background);
  text-align: center;
  font-size: 3rem;
}
.Chronometer .Chronometer-time{
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background);
  font-size: 2.5rem;
}