.Header{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-text);
  border-radius: 0 0 5px 5px;
  padding: 0 20px;
}
.Header-menu{
  display: flex;
  align-items: center;
  color: var(--background);
  font-size: 3rem;
  cursor: pointer;
  z-index: 3;
}
.Header-menu:hover{
  transform: rotate(180deg);
  transition: transform ease-in-out 0.5s;
}
/* @media(min-width:1000px){
  .Header-menu{
    display: none;
  }
} */
