.Header-menu{
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--details);
  font-size: 3rem;
  cursor: pointer;
  z-index: 2;
}
.Header-menu:hover{
  transform: rotate(360deg);
  transition: transform ease-in-out 0.5s;
}
  @media(min-width:768px){
    .Header{
      display: none;
    }
  }
