.ResultsQuestions{
  width: 100%;
  /* height: 100vh; */
  padding-bottom: 20px;
}
.arrow{
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--details);
  font-size: 5rem;
  cursor: pointer;
}
.ResultsQuestions-title{
  width: 90%;
  font-size: 2.7rem;
  font-weight: 800;
  text-align: center;
  color: var(--details);
  padding: 30px 0;
  margin: 20px auto 0 auto;
  opacity: 0.6;
}
.ResultsQuestions-card{
  width: 90%;
  max-width: 350px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  border-radius: 5px;
  padding: 10px 0;
  margin: 0 auto 10px auto;
  opacity: 0.5;
}
.ResultsQuestions-card h2{
  width: 100%;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  color: var(--details);
}
.ResultsQuestions-card p{
  font-size: 1.7rem;
  font-weight: 800;
  text-align: center;
  color: var(--main-text);
}

@media(min-width: 500px){
  .ResultsQuestions{
    width: 90%;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
  } 
  .ResultsQuestions-title{
    font-size: 3rem;
  }
 .ResultsQuestions-card{
    width: 45%;
  }
}

@media(min-width: 900px){
  .ResultsQuestions{
    height: 90vh;
    padding-top: 80px;
  } 
  .arrow{
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--details);
    font-size: 5rem;
  }
  .ResultsQuestions-title{
    font-size: 4rem;
    margin: 0 auto 30px auto;
  }
  .ResultsQuestions-card{
    width: 30%;
  }
}
@media(min-width:1700px){
  .ResultsQuestions{
    min-width: 800px;
    height: auto;
  }
  .ResultsQuestions-card{
    width: 400px;
    height: 120px;
  }
}