.Welcome{
  width: 100%;
  max-width: 650px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0 auto;
}
.Welcome-title{
  width: 90%;
  font-size: 4rem;
  font-weight: 800;
  color: var(--details);
  text-align: center;
  margin: 0 auto;
}
.Welcome-text{
  width: 90%;
  max-width: 500px;
  font-size: 1.7rem;
  line-height: 3rem;
  color: var(--background);
  text-align: center;
  margin: 20px auto;
}
.Welcome-list{
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0 auto;
}
.Welcome-list li{
  width: 40%;
  max-width: 120px;
  border: 2px solid var(--background);
  color: var(--background);
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.Welcome-list li:hover{
  border: 2px solid var(--details);
  color: var(--details);
}
.Welcome-list .Welcome-list__last{
  width: 90%;
  min-width: 90%;
  margin: 0 auto;
}
@media(min-width:500px){
  .Welcome-text{
    font-size: 2rem;
  }
  .Welcome-list{
    width: 80%;
    max-width: 450px;
  }
}
@media(min-width:768px){
  .Welcome{
    height: 80vh;
    padding-top: 80px;
  }
  .Welcome-list{
    width: 80%;
    max-width: 550px;
  }
  .Welcome-list .Welcome-list__last{
    min-width: 175px;
    max-width: 175px;
    height: 49px;
    margin: 0;
  }
}